//All about the colors
$dark-blue : #18152B;
$primary-white : #eeeeff;
$primary-dark : #111111;
$primary-blue : #7464FB;
$empty-dark : #312E48;

//All about the fonts
@font-face {
  font-family: MetropolisBold;
  src: url(../fonts/MetropolisBold.otf);
}
@font-face {
  font-family: MetropolisRegular;
  src: url(../fonts/MetropolisRegular.otf);
}
@font-face {
  font-family: MetropolisThin;
  src: url(../fonts/MetropolisThin.otf);
}
@font-face {
  font-family: PlatNomor;
  src: url(../fonts/PlatNomor.otf);
}


// All about the mixins
@mixin flex-container($direction,$align,$justify,$wrap){
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
@mixin button-component($bg-color,$text-color){
    background-color : $bg-color;
    color : $text-color;
}
@mixin container-width($cont-width){
    width: 100%;
    max-width: $cont-width;
    margin: 0 auto;
    padding: 0px 20px;
}

// Different Classes
.container-1000{
    @include container-width(1000px);
}
.container-1200{
    @include container-width(1200px);
}
.container-1400{
    @include container-width(1400px);
}

// Stuffs related to the fluid typography from the CSS tricks
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }
  
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
  
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      & {
  
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
  
        @media screen and (min-width: $max-vw) {
          font-size: $max-font-size;
        }
      }
    }
  }

h1{
  font-family: "PlatNomor";
  @include fluid-type(1200px, 320px, 40px, 75px);
}
h2{
  font-family: "MetropolisBold";
}
h3,h4,h5,h6,p{
  font-family: "MetropolisThin";
  @include fluid-type(1200px, 320px, 18px, 20px);
}
.btn{
  padding: 15px 60px;
  display: inline-block;
  cursor: pointer;
  &-configure{
    border: 2px solid $primary-blue;
  }
}

//Extra Classes
// .btn,btn-icon{
//   padding: 10px 15px;
//   background-color: $empty-dark;
// }

//Real Styling
body{
  background-color: $dark-blue;
  color: $primary-white;
}


//Styling the app section
.app__section{
  min-height: 100vh;
  height: 100%;
  @include flex-container(column, stretch, space-between, wrap);
}

//Styling the Header Section
.header__section{
  // background-color: pink;
  @include flex-container(row, center, space-between, wrap);
  padding: 20px;
  #{&}--title{
    text-transform: uppercase;
  }
  #{&}--info{
    @include flex-container(row, center, center, wrap);
    &-title{
      padding: 10px 15px;
      background-color: $empty-dark;
      cursor: pointer;
    }
  }
}


//Styling the footer Section
.footer__section{
  @include flex-container(row, center, flex-end, wrap);
  padding: 20px;
  #{&}--circle{
    background-color: $primary-blue;
    height: 60px;
    width: 60px;
    color: $primary-dark;
    border-radius: 50%;
    @include flex-container(row, center, center, wrap);
    cursor: pointer;
    font-size: 22.5px;
  }
}

//Styling the Main Section
.main__section{
  @include flex-container(row, center, center, wrap);
  padding: 20px;
  >div{
    @include flex-container(column, center, center, wrap);
  }
  &--icons{
    @include flex-container(row, center, center, no-wrap);
    >div{
      cursor: pointer;
      padding: 15px;
      background-color: $empty-dark;
      margin: 5px;
    }
  }
}